### global
global
  ulimit-n 65536
  log      127.0.0.1 local0 info

  chroot   /var/lib/haproxy
  pidfile  /var/run/haproxy.pid
  maxconn  10000
  user     haproxy
  group    haproxy
  daemon

  stats socket /var/lib/haproxy/stats user root group wheel level admin
  stats maxconn 5
  stats timeout 30s

### defaults
defaults
  mode    tcp
  log     global
  retries 5
  maxconn 10000

  option  clitcpka
  option  contstats
  option  dontlognull
  option  redispatch
  option  srvtcpka
  option  tcp-smart-accept
  option  tcp-smart-connect
  option  tcpka

  timeout connect 1s
  timeout client 480m
  timeout server 480m
  timeout check 10s
  timeout queue 480m

### stats
listen stats
  bind 0.0.0.0:80
  mode            http
  stats           enable
  stats           hide-version
  stats           refresh 60s
  stats uri       /admin?stats

  timeout client 3s
  timeout server 3s
  timeout queue 3s

listen mysql-cluster1-master
  bind 0.0.0.0:3306
  mode    tcp
  option  mysql-check user haproxy_user
  server dev-db0001 dev-db0001:3306 check port 3306 inter 3000

listen mysql-cluster1-slave
  bind 0.0.0.0:3307
  mode    tcp
  option  mysql-check user haproxy_user
  server dev-db0002 dev-db0002:3306 check port 3306 inter 3000
